
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #adbbda;
    color: #333;
}

/* Sidebar Styles */
aside.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #34495e;
    padding: 20px;
    color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

/* Hide sidebar on small screens */
@media (max-width: 768px) {
    aside.sidebar {
        transform: translateX(-100%); 
    }

    aside.sidebar.active {
        transform: translateX(0);
    }
}

/* Button for toggling sidebar */
.nav-toggle {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #34495e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block; 
    }

    main {
        margin-left: 0; 
    }
}

/* Ensure the main content adjusts with the sidebar */
main {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}







.sidebar h2 {
    text-align: center;
}

/* Remove default list styles */
.sidebar ul {
    list-style: none;
    padding: 0;
}

/* Each tab item */
.sidebar ul li {
    margin: 15px 0;
    border: 1px solid #2c3e50; 
    border-radius: 5px;
}

/* Links inside tabs */
.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    display: block;
    transition: background 0.3s, transform 0.3s, border-left 0.3s;
    text-align: center; 
    background-color: #34495e;
    border-radius: 5px;
    position: relative;
}

/* Hover effect */
.sidebar ul li a:hover {
    background-color: #3498db; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #1abc9c; 
}

/* Active/Highlighted tab */
.sidebar ul li.active a, .sidebar ul li a:focus {
    background-color: #2980b9;
    border-left: 5px solid #1abc9c;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Add space between each tab */
.sidebar ul li + li {
    margin-top: 10px; 
    border-top: none;
}


main {
    margin-left: 250px; 
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto; 
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: url('path_to_background.jpg') no-repeat center center/cover;
    color: black; 
    position: relative;
}

.hero h1, .hero p {
    color: black; 
}


.main-title {
    font-size: 3rem; 
    font-weight: bold; 
    margin: 20px 0; 
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
}


.hero-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
}

.cta-buttons {
    margin-top: 20px;
}

.cta-buttons .btn {
    text-decoration: none;
    padding: 15px 30px;
    background-color: #3498db;
    color: white;
    margin: 10px;
    display: inline-block;
    border-radius: 15px;
    transition: background 0.3s;
}

.cta-buttons .btn:hover {
    background-color: #2980b9; 
}

/* Features Section */
#features {
    padding: 50px 20px;
    background-color: #34495e; 
    text-align: center;
    color: white; 
    border-radius: 50px;
}

.feature-container {
    margin: 0 auto 30px; 
    padding: 20px;
    max-width: 600px; 
    border: 1px solid #ecf0f1; 
    border-radius: 20px;
}

#features h2 {
    font-size: 2rem;
    margin-bottom: 30px; 
}

.feature-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.feature-container ul li {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center; 
}


.feature-container ul {
    list-style-type: disc;
    padding-left: 20px; 
    color: white; 
    font-size: 1.1rem; 
}

.feature-container li {
    margin-bottom: 15px;
}

/* Optional: Style the strong text */
.feature-container li strong {
    color: #1abc9c;
}



/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .feature-container ul li {
        text-align: center;
    }
}


/* Ensure the items stack on small screens */
@media (max-width: 768px) {
    .feature-container ul li {
        flex: 1 1 100%; 
        text-align: center;
    }
}


/* Demo Section */
.demo-video {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

#demo {
    font-size: 1.5rem;
    font-weight: bold; 
    margin: 20px 0;
    text-align: center;
}

#demo h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
}



/* Styling for the input form */
.network-data-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto; 
    text-align: center; 
}

/* Styling the textarea for network input */
#network-input {
    width: 100%; 
    height: 120px;
    border: 3px solid #4A90E2; 
    border-radius: 20px; 
    padding: 15px; 
    font-size: 16px; 
    font-family: 'Arial', sans-serif;
    outline: none;
    background-color: #f5f5f5;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Add hover and focus effects */
#network-input:hover, #network-input:focus {
    border-color: #007BFF; 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); 
}

/* Styling for the file upload button */
.file-upload {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #4A90E2;
    border-radius: 12px; 
    font-size: 16px;
    cursor: pointer;
    width: 100%; 
    background-color: #f5f5f5;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Styling the submit button */
.network-data-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 150px; /* Reduced width */
    transition: background-color 0.3s ease;
    align-self: center;
}

/* File upload and button hover effect */
.file-upload:hover, .network-data-form button:hover {
    border-color: #007BFF; 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Soft shadow */
}




/* Styling the prediction result box */
.prediction-box {
    display: none; 
    margin-top: 20px;
    padding: 20px;
    border: 3px solid #4A90E2; 
    border-radius: 15px;
    background-color: #f5f5f5; 
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.3);
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* On hover effect for prediction result */
.prediction-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.4);
}

/* Style the prediction text */
.prediction-box p {
    margin: 0;
    padding: 0;
    color: #007BFF; 
    font-weight: bold;
}




/* Performance Section */
.performance-image {
    width: 100%;
    border-radius: 20px;
}


#performance h2 {
    font-size: 3rem;
    font-weight: bold; 
    margin: 20px 0;
}



/* Team Section */
.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    margin: 20px;
    text-align: center;
}

.team-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


#team h2 {
    font-size: 3rem;
    font-weight: bold; 
    margin: 20px 0;
}

/* Documentation Section */
/* Style for Contact Form */

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#documentation h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
}

#documentation {
    text-align: center;
    padding: 50px 20px;
    border-radius: 20px;
    background-color: #1abc9c; 
    transition: background-color 0.4s ease; 
    margin: 30px auto;
    width: 60%;
}

#documentation:hover {
    background-color: #34495e;  
}

#documentation h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

#documentation p {
    font-size: 1.2rem;
    color: white;
}

#documentation a {
    color: #f39c12; /* Link color */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#documentation a:hover {
    color: #d35400; 
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    #documentation {
        width: 90%; 
    }

    #documentation h2 {
        font-size: 2rem;
    }

    #documentation p {
        font-size: 1rem; 
    }
}

@media (max-width: 480px) {
    #documentation h2 {
        font-size: 1.8rem;
    }

    #documentation p {
        font-size: 0.9rem; 
    }
}

#contact h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
}


/* Main Form Styles */
.contact-form {
    max-width: 500px; 
    margin: 20px auto;
    background: #1abc9c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-sizing: border-box; 
}

/* Form Hover Effect */
.contact-form:hover {
    transform: translateY(-5px); 
    background-color: #34495e;
}

/* Label Styles */
.contact-form label {
    display: block;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    transition: color 0.3s ease; 
}

/* Label Color Change on Hover */
.contact-form:hover label {
    color: #ffffff;
}

/* Input and Textarea Styles */
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #bdc3c7;
    background-color: #ffffff; 
    font-size: 15px;
    color: #2c3e50; /* Dark text color */
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

/* Input and Textarea Focus Effect */
.contact-form input:focus, .contact-form textarea:focus {
    border-color: #3498db; /* Bright blue border on focus */
    outline: none;
}

/* Button Styles */
.contact-form button {
    background-color: #3498db; /* Bright blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button Hover Effect */
.contact-form button:hover {
    background-color: #2980b9; /* Darker blue */
    transform: scale(1.05); /* Slight zoom on hover */
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
    .contact-form {
        max-width: 90%; /* Adjust to fit better on smaller screens */
        padding: 15px;
    }

    .contact-form input, .contact-form textarea {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .contact-form button {
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        max-width: 95%; /* Further adjust width for extra small screens */
    }

    .contact-form input, .contact-form textarea {
        font-size: 13px; /* Adjust input font size */
    }

    .contact-form button {
        font-size: 13px;
        padding: 8px 12px;
    }
}


/* Input and Textarea Styles */
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 4px solid #bdc3c7;
    background-color: #ffffff; /* White for inputs */
    font-size: 15px;
    color: #2c3e50; /* Dark text color */
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Input and Textarea Focus Effect */
.contact-form input:focus, .contact-form textarea:focus {
    border-color: #3498db; /* Bright blue border on focus */
    outline: none;
}

/* Button Styles */
.contact-form button {
    background-color: #3498db; /* Bright blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button Hover Effect */
.contact-form button:hover {
    background-color: #2980b9; /* Darker blue */
    transform: scale(1.05); /* Slight zoom on hover */
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
    .contact-form {
        max-width: 90%; /* Adjust to fit better on smaller screens */
        padding: 15px;
    }

    .contact-form input, .contact-form textarea {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .contact-form button {
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        max-width: 95%; /* Further adjust width for extra small screens */
    }

    .contact-form input, .contact-form textarea {
        font-size: 13px; /* Adjust input font size */
    }

    .contact-form button {
        font-size: 13px;
        padding: 8px 12px;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .contact-form {
        padding: 20px;
        margin: 10px;
    }
}


.sidebar {
    z-index: 100; /* Ensure sidebar stays on top */
}

.nav-toggle {
    z-index: 101; /* Ensure toggle button stays above sidebar */
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #2980b9;
}

@media (max-width: 600px) {
    .contact-form {
        padding: 15px;
        margin: 10px;
    }
}

.team-member:hover .team-image {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
}















/* Responsive Sidebar for small screens */
@media (max-width: 768px) {
    aside.sidebar {
        width: 70%; /* Reduce the width for small screens */
        transform: translateX(-100%);
    }
    aside.sidebar.active {
        transform: translateX(0);
    }
}



@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }
    main {
        margin-left: 0;
    }
}

/* Adjusting the main content area */
main {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    main {
        margin-left: 0;
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: url('path_to_background.jpg') no-repeat center center/cover;
    color: black;
}

.hero h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 15px;
}



.cta-buttons .btn {
    padding: 12px 20px;
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .cta-buttons .btn {
        padding: 10px 15px;
        font-size: 1rem;
        margin: 8px;
    }
}